@model IEnumerable<Shopnet.Models.Role>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Creation
        </th>
        <th></th>
    </tr>

@foreach (var role in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => role.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => role.Creation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = role.RoleID }) |
            @Html.ActionLink("Details", "Details", new { id = role.RoleID }) |
            @Html.ActionLink("Delete", "Delete", new { id = role.RoleID }) |
            @Html.ActionLink("Add Item", "AddItem", role) 
        </td>
    </tr>
}

</table>
