@model IEnumerable<Shopnet.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Creation
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Creation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.User.UserID }) |
            @Html.ActionLink("Details", "Details", new { id = item.User.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.User.UserID })|
            @Html.ActionLink("Add Role", "AddRole", item.User)

        </td>
    </tr>
}

</table>
