@model Shopnet.ViewModels.ViewTypePayment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TypePayment</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TypePayment.Name)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TypePayment.Description)
    </div>

    <div class="display-label">Amount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TypePayment.Amount)
    </div>

    <div class="display-label">TotalNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TypePayment.TotalNumber)
    </div>

    <div class="display-label">Status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SelectedStatus)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TypePayment.TypePaymentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
