@model Shopnet.ViewModels.PermissionsRolesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
<table>
<tr>
<th>
</th>
@foreach (var roles in Model.Roles)
{
    <th>
    @roles.Name
    </th>
}
</tr>
@foreach (var controllerPermissions in Model.controllersPermissions)
{
    <tr>
    <td colspan="@(Model.Roles.Count+1)">
    <div class="controller-name">
    @controllerPermissions.Name
    </div>
    <div class="controller-description">
    @controllerPermissions.Description
    </div>
    </td>
    </tr>
    foreach (var permissions in controllerPermissions.Permissions)
    {
        <tr>
        <td>
        <div class="permission-name">
        @permissions.Name
        </div>
        <div class="permission-description">
        @permissions.Description
        </div>
        <div class="permission-restrict-access">
        @permissions.RestrictAccess
        </div>
        </td>
        @foreach (var permissionRole in permissions.ItemChecklist)
        {
            <td>
            @Html.CheckBox(permissionRole.Key.GetPermissionRoleID(), permissionRole.Value)
            </td>
        }
        </tr>
    }
}
</table>
<p>
<input type="submit" value="Save" />
</p>
}