@model IEnumerable<Shopnet.Models.PROVIDER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ID_PROVIDER
        </th>
        <th>
            NAME_PROVIDER
        </th>
        <th>
            DESC_PROVIDER
        </th>
        <th>
            CREATION_PROVIDER
        </th>
        <th>
            ADDRESS_PROVIDER
        </th>
        <th>
            PHONE_PROVIDER
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_PROVIDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME_PROVIDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESC_PROVIDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATION_PROVIDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS_PROVIDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHONE_PROVIDER)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
