@model IEnumerable<Shopnet.Models.Sale>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Customer
        </th>
        <th>
            Type Payment
        </th>
        <th>
            User
        </th>
        <th>
            Creation
        </th>
        <th>
            Total
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypePayment.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creation)
        </td>
        <td>
            @String.Format("{0:F}", item.Total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SaleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SaleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SaleID })
        </td>
    </tr>
}

</table>
